<!DOCTYPE html>

<html>
<head>
  <title>Work@t</title>
 <link href="style.css" rel="stylesheet">
</head>
<body>
  <h1 id='h1'>
    Work@Coder
  </h1>
  <img id='banner' src="../static/hello.jpg"  width="100px" height="100px"  ></img>

  <h1 id='h2'>About Work@Coder</h1>
  <p id='p1'>So perhaps, you've generated some fancy text, and you're content that you can now copy and paste your fancy text in the comments section of funny cat videos, but perhaps you're wondering how it's even possible to change the font of your text? Is it some sort of hack? Are you copying and pasting an actual font?</p>

<button id='btn1'>Contact Us</button>
</body>
  
  
</html>